%h1 Listing of Classrooms
%th Users
%td= @classroom.users.map {|c| c.name}.join(', ')
%table{:style=>"border: 1px; width: 50%"}
  %tr

  - @classroom.each do |classroom|
    %tr
      %td= link_to classroom.name, classroom
      - if admin?
        %td= link_to 'Remove', classroom, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

- if admin?
  = link_to 'Add New Classroom', new_classroom_path
