%h1 Listing of Classrooms

%table{:style=>"border: 1px; width: 50%"}
  %tr

  - @classroom.each do |classroom|
    %tr
      %td= link_to classroom.name, classroom

      %td= link_to 'Delete', classroom, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Add New Classroom', new_classroom_path
