/* font types */

$serif: Georgia, serif;
$sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;

/* font styles */

$title-font-size: 42px;
$headline-font-size: 26px;
$sub-headline-font-size: 20px;
$base-font-size: 16px;
$small-font-size: 13px;

/* font-positioning */

$baseline: 25px;
$base-line-height: ($baseline/$base-font-size);

/* colors */

$site-black: #313C35;
$site-white: #DBE6DF;

$primary-color: #1F964B;
$primary-color-dark: #005B22;
$primary-color-light: #61BE83;

$secondary-color: #CE802B;
$secondary-color-dark: #7D4100;
$secondary-color-light: #FFC382;

$action-color: #7D1600;
$action-color-light: #CE472B;
$action-color-accent: #FF9882;

$link-color: #5891A7;
$link-color-hovered: #1F6681;
$link-color-clicked: #033A4E;



