/* font types */

$serif: Georgia, serif;
$sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;

/* font styles */

$title-font-size: 42px;
$headline-font-size: 26px;
$sub-headline-font-size: 20px;
$base-font-size: 16px;
$small-font-size: 13px;

/* font-positioning */

$baseline: 25px;
$base-line-height: ($baseline/$base-font-size);

/* colors */


$primary-color: #8DAF2D; // use with white font

// maybe use this for white #FCFDF9

$primary-color-dark: #5E751E; // use with white font
$secondary-color: #F2C83E; // use with brown font
$tertiary-color: #DB8A11; // use with white font

$white-font: white;
$brown-font: #492E05; 

$creamcolor: #F6E19B; // use with brown font
$dark-cream: darken($creamcolor, 5);

$background-color: white;

/* viewports */

$break-small: 600px;
$break-large: 1200px;