<header class="header">

    <div class="header-logo">
        <img src="assets/micaLogo.gif" class="header-logo-image">  
    </div>
  
    <a href="/text" class="header-text">
        <h1 class="header-text-title">Head Start</h1>
        <h2 class="header-text-subtitle">Notifications Dashboard</h2>
    </a>

</header>