%h2 USER MANUAL
  
%h2 Admins
Admins are able to access and edit all users, classrooms, contacts, and students.  When creating a new user, an
admin can either make this user an admin or not an admin by checking the 'Admin?' box.  This will affect that
user's permissions.  Admins are able to text (641) 243-8808 to send a message to all classrooms they are assigned
to.

%p
  <b>To add a new admin:</b>
%p
  1. Hover over Edit Data and click on Users
%p
  2. Scroll to the bottom of the page and click "Add New User"
%p
  3. While creating a new user, check the "Admin?" box
%p
  <b>To edit an existing admin:</b>
%p
  1. Hover over Edit Data and click on Users
%p
  2. Scroll down to the admin you wish to edit, and click "Edit [Admin Name]"

%h2 Teachers
Teachers are able to access and edit all contacts and students, as well as classrooms that they are assigned to.
They also have access to their own settings, but not the settings of other users.  Teachers are able to text (641) 243-8808
to send a message to all classrooms they are assigned to.

%p
  <b>To add a new teacher:</b>
%p
  1. Hover over Edit Data and click on Users
%p
  2. Scroll to the bottom of the page and click "Add New User"
%p
  3. While creating a new user, do not check the "Admin?" box
%p
  <b>To edit an existing teacher:</b>
%p
  1. Hover over Edit Data and click on Users
%p
  2. Scroll down to the teacher you wish to edit, and click "Edit [Teacher Name]"

%h2 Classrooms
Classrooms can be named and can have any number of students and teachers.  Only teachers assigned to a given classrooms
will be able to send messages to that classroom.  Admins have full access to edit the name of classroom, and associated
teachers and students.

%p
  <b>To add a new classroom:</b>
%p
  1. Hover over Edit Data and click on Classrooms
%p
  2. Scroll to the bottom of the page and click "Add New Classroom"
%p
  3. Add a name, associated students, and associated teachers
%p
  <b>To edit an existing classroom:</b>
%p
  1. Hover over Edit Data and click on Classrooms
%p
  2. Find the classroom you wish to edit and click "Edit"

%h2 Students
Students can be assigned to any number of classrooms and have any number of contacts.  Students must be associated with
at least one contact if they are to be reached by the text notification system, since phone numbers are associated with
contacts, and not students.

%p
  <b>To add a new student:</b>
%p
  1. Hover over Edit Data and click on Students
%p
  2. Scroll to the bottom of the page and click "Add New Student"
%p
  3. Add a name, associated contacts, and classrooms
%p
  4. If no existing contacts are associated with this student, you will be directed to the new contact page in order to
  add a contact to this student
%p
  <b>To edit an existing student:</b>
%p
  1. Hover over Edit Data and click on Students
%p
  2. Find the student you wish to edit and click "Edit [Student Name]"

%h2 Contacts
Contacts can be assigned to any number of students.  For a contact to be texted via the text notification system, they must
have a phone number, be associated with a student in a classroom being texted, and the "Can text?" option must be selected
for them.


%p
  <b>To add a new contact:</b>
%p
  1. Hover over Edit Data and click on Contacts
%p
  2. Scroll to the bottom of the page and click "Add New Contact"
%p
  3. Add a name, and associated students.  Check "Can text?" if applicable.
%p
  <b>To edit an existing contact:</b>
%p
  1. Hover over Edit Data and click on Contacts
%p
  2. Find the contact you wish to edit and click "Edit [Contact Name]"
  
%h2 History and Sending Messages
Clicking on the History tab in the top left corner as an admin will show all texts sent through the text notification system.
As a teacher, it will only show texts sent by the current teacher.  Sending messages through the system can be done in two ways.

%p
  <b>To send a text through the website:</b>
%p
  1. Click on the Headstart logo at the top of the screen
%p
  2. Select recipients by checking off the students you wish to text.  If you want to text an entire classroom, you can check the
  "Select All" box underneath all students in a given classroom.
%p
  3. In the "Send a message" box, type the message you wish to send
%p
  4. Click "Send Message"
%p
  <b>To send a text from phone:</b>
%p
  1. Ensure that your phone number matches the one in your settings.  Hover over your name in the top right corner and click "Settings"
%p
  2. If the phone number listed does not match your own, click "Edit [Name]" and change the phone number to your own number.
%p
  3. Send text message to (641) 243-8808.  The message will be sent out to all classrooms you are associated with.  You should receive
  a text back confirming that your text has been sent.
%p
  4. If someone who is not a teacher tries to text this number, it will not send anything and respond with a message informing them that
  this number cannot receive texts.  Calling this number will also result in a voice message saying something similar.