$header-height-small:  100px;
$header-height-normal: 150px;
$header-height-large:  200px;

.header {
    @include no-select();

    position: relative;
    width: 100%;
    height: 150px;
    background-color: $primary-color;
    cursor: default;

    @media screen and (max-width: $break-small) {
        height: $header-height-small;
    }
    @media screen and (min-width: $break-large) {
        height: $header-height-large;
    }
}

.header-logo {
    position: absolute;
    left: 40px;
    top: 5px;
}

.header-logo-image {

    max-height: $header-height-normal - 10px;
    width: auto;

    @media screen and (max-width: $break-small) {
        max-height: $header-height-small - 10px;
    }
    @media screen and (min-width: $break-large) {
        max-height: $header-height-large - 10px;
    }

}

.header-text {
    position: relative;
    height: 100%;
    margin: 0 auto;
    color: white;
}

.header-text-title {

    margin: 0;  
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    font-size: 44px;

    @media screen and (max-width: $break-small) {
        line-height: $header-height-small;
        font-size: 32px;
    }
    @media screen and (min-width: $break-large) {
        line-height: $header-height-large;
        font-size: 72px;
    }
}

.header-text-subtitle {

    color: mix($primary-color, white, 20%);

    margin: 0;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 20px;

    @media screen and (max-width: $break-small) {
        line-height: $header-height-small;
        font-size: 14px;
    }
    @media screen and (min-width: $break-large) {
        line-height: $header-height-large;
        font-size: 28px;
    }
}