.login-wrapper { /* the form */
    width: 500px;
    margin: 100px auto;
    padding: 50px 50px 20px 50px;
    border-radius: 20px;
    color: $white-font;
    background-color: $primary-color;
}

.login-labels {
    @include text-shadow();
    font-weight: 700;
    font-size: $sub-headline-font-size;
}

.login-inputs {
    

    & > input {
        width: 100%;
    }
}

.login-email {
    margin-bottom: 20px;
    color: $white-font;
}

.login-password {
    margin-bottom: 10px;
}

.login-remember-me {
    margin-bottom: 30px;
}

.login-submit {
    text-align: center;

    & > input {
        background-color: $tertiary-color;
    }
}

