$containerSmall: 300px;
$containerMedium: 400px;
$containerLarge: 500px;

.message-template-wrapper {
    max-width: $containerMedium;
    margin: 0 auto;
    @media screen and (max-width: $break-small) {
        max-width: $containerSmall;
    }
    @media screen and (min-width: $break-large) {
        max-width: $containerLarge;
    }
}



.message-template-list {
    width: 100%;
    margin: 0 auto;

    list-style-type: none;

    cursor: pointer;

    border: 1px solid $brown-font;
}

.message-template-item {
    margin-bottom: 2px;
    padding: 6px 10px;
    &:hover {
        font-weight: 700;
    }
    &:last-child {
        margin-bottom: 0;
    }
    &:nth-child(odd) {
        background-color: $background-color;
    }
    &:nth-child(even) {
        background-color: $background-color-alt;
    }
}

.message-template-input-wrapper {
    position: relative;
}

.message-template-prompt {
    text-align: center;
}

.message-template-prompt-hidden {
    cursor: default;

    opacity: 0;
}

.message-template-input {
    border-top: none;
    border-right: none;
    border-bottom: 1px solid grey;
    border-left: none;
    background-color: $background-color;
}

.message-custom-wrapper {
    max-width: $containerMedium;
    margin: 0 auto;
    @media screen and (max-width: $break-small) {
        max-width: $containerSmall;
    }
    @media screen and (min-width: $break-large) {
        max-width: $containerLarge;
    }
}

.message-custom-toggle {
    font-size: $small-font-size;

    display: block;
    float: right;

    margin-top: 10px;

    text-align: center;

    color: white;
    border: none;
    background-color: $tertiary-color;
}

.message-custom-textarea {
    display: block;

    width: 100%;
    height: 100px;

    resize: none;
}

.message-custom-warning {
    font-size: $small-font-size;
    font-weight: 700;

    margin-top: 10px;

    color: $warning-color;
}


.submit-button-wrapper {
    margin-top: 60px;

    text-align: center;
}

.submit-button {
    color: white;
    background-color: $primary-color;
    @media screen and (max-width: $break-small) {
        width: 100% !important;
        padding: 0 !important;
    }
}
