.recipients-title {
    text-align: center;
}

.recipients-class-tabs {
    height: 50px;
}

.recipients-class-tab {
    float: left;
    margin-right: 10px;
}

.recipients-show-hide-checkbox {
    position: absolute;
    left: -9999px; /* hide this from the screen */
    top: -9999px;

    &:checked ~ label {
        color: white;
        background-color: $brown-font;
    }

}

.recipients-room-label {
    padding: 2px 10px;
    border-top: 1px solid $brown-font;
    border-left: 1px solid $brown-font;
    border-right: 1px solid $brown-font;
    border-radius: 4px;
}

.recipients-classroom {


    &.hidden {
        @include hidden();
    }

    & legend {
        @include hidden();
    }

    & ul {
        list-style-type: none;
    }
}

.recipients-classroom-title {

}

.recipients-student-select {

}



