$containerSmall: 300px;
$containerMedium: 400px;
$containerLarge: 500px;

.message-template-wrapper {
    max-width: $containerMedium;
    margin: 0 auto;

    @media screen and (max-width: $break-small) {
        max-width: $containerSmall;
    }

    @media screen and (min-width: $break-large) {
        max-width: $containerLarge;
    }
}

.message-template-title {}

.message-template-list {
    list-style-type: none;
    cursor: pointer;

    width: $containerSmall;
    margin: 0 auto; 
    border: 1px solid $brown-font;

    @media screen and (max-width: $break-small) {
        width: $containerSmall;
    }

    @media screen and (min-width: $break-large) {
        width: $containerMedium;
    }

} 

.message-template-item {
    padding: 6px 10px;
    margin-bottom: 2px;

    &:hover {
        font-weight: 700;
    }
    &:last-child {
        margin-bottom: 0;
    }
    &:nth-child(odd) {
        background-color: $background-color;
    }
    &:nth-child(even) {
        background-color: $background-color-alt;
    }
}

.message-template-input-wrapper {
    position: relative;
}

.message-template-prompt {
    text-align: center;
}

.message-template-prompt-hidden {
  opacity: 0;
  cursor: default;
}


.message-custom-wrapper {
    padding: 0 40px;
}

.message-custom-toggle {
    display: block;
    float: right;
    margin-top: 10px;
    margin-right: 25px;
    background-color: $tertiary-color;
    border: none;
    color: white;
    text-align: center;
    font-size: $small-font-size;
}

.message-custom-textarea {
    display: block;
    width: 100%;
    height: 100px;
    resize: none;
}

.message-custom-warning {
    margin-top: 10px;
    font-size: $small-font-size;
    font-weight: 700;
    color: $warning-color;
}

.message-template-input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid grey;
    background-color: $background-color;
}


