.recipients-class-list {
    overflow-y: scroll;

    &:after {
        display: block;
        content: "";
        clear: both;
    }
}

.recipients-title {
    text-align: center;
}

.recipients-classroom {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    margin: 0;

    float: left;
    width: 50%;

    &.hidden {
        @include hidden();
    }

    & legend {
        @include hidden();
    }

    & ul {
        list-style-type: none;

        & li {
            margin-bottom: 5px;
        }
    }


}

.recipients-classroom-title {
    font-weight: 700;
    font-size: $sub-headline-font-size;
}

.recipients-student-select {

}



