$button-margin: 5px;
$button-border-height: 2px;

@mixin button-measurements($height) {
    $adjusted-height: $height - ($button-margin * 2);

    font-size: $adjusted-height * .5;
    line-height: $adjusted-height * .5;

    height: $adjusted-height;
    padding-top: $adjusted-height * .25;
    padding-bottom: $adjusted-height * .25;
}

.button {
    @include no-select();
    @include button-measurements($baseline * 3);

    display: inline-block;
    cursor: hand;

    font-weight: 700;
    text-shadow: 0px 1px 2px rgba(100, 100, 100, 0.8);

    margin-top: $button-margin;
    margin-bottom: $button-margin;
    padding-right: 50px;
    padding-left: 50px;

    border: 1px solid darken($primary-color, 2);
    border-radius: 15px;
    box-shadow: 1px 1px 6px darken($primary-color, 6);

    background-color: $primary-color;
    color: white;
    
    &:hover {
        background-color: lighten($primary-color-dark, 6);
    }

    &:active {
        outline: none;

        box-shadow: 1px 1px 6px lighten($primary-color, 6) !important; /* don't show :focus style when clicking*/
        background-color: darken($primary-color-dark, 3);
    }

    &:focus {
        outline: none;
        border: 1px solid lighten($primary-color, 6);
        box-shadow: 0 0 20px 2px lighten($primary-color, 6);
    }

    
}

.button-small {
    @include button-measurements($baseline * 2);
}

.button-large {
    @include button-measurements($baseline * 4);
}
