$button-border-height: 2px;

@mixin button-measurements($height) {
    font-size: $height * .5;
    line-height: $height * .5;

    height: $height;
    padding-top: $height * .25;
    padding-bottom: $height * .25;
    padding-left: $height;
    padding-right: $height;
}

@mixin button-colors($color, $darkcolor) {
    border: 1px solid darken($color, 2);
    box-shadow: 1px 1px 1px darken($color, 6);
    background-color: $color;

    &:hover {
        background-color: lighten($darkcolor, 6);
    }

    &:active {
        box-shadow: 1px 1px 6px lighten($color, 6) !important; /* don't show :focus style when clicking*/
        background-color: darken($darkcolor, 3);
    }

    &:focus {
        border: 1px solid lighten($color, 6);
        box-shadow: 0 0 20px 2px lighten($color, 6);
    }

    &.inactive {
        background-color: mix($color, rgb(150, 150, 150), 0.75);
        border-color: mix($color, rgb(150, 150, 150), 0.75);
    }        
}

.button {
    @include no-select();
    @include border-box();
    @include button-measurements($baseline * 2);

    display: inline-block;
    cursor: hand;

    font-weight: 700;
    text-shadow: 0px 1px 2px rgba(100, 100, 100, 0.8);
    color: white;

    padding-right: 50px;
    padding-left: 50px;

    border-radius: 15px;

    &:hover {
        
    }

    &:active {
        outline: none;
    }

    &:focus {
        outline: none;
    }

    &.inactive {
        cursor: not-allowed;
        box-shadow: none;
    }        
    
}

.button-small {
    @include button-measurements($baseline);
}

.button-large {
    @include button-measurements($baseline * 3);
}

.button-primary-color {
    @include button-colors($primary-color, $primary-color-dark);
}

.button-tertiary-color {
    @include button-colors($tertiary-color, darken($tertiary-color, 12));
}

.button-warning-color {
    @include button-colors($warning-color, darken($warning-color, 12));
}

.button-cream-color {
    @include button-colors($cream-color, darken($cream-color, 12));
}