html, body {
margin: 0;
padding: 0;
background: #c0e2d9;
color: #212e33;
font-family: 'Play', sans-serif;
font-size: 10pt;
}

#main {
margin: 0;
padding: 0 20px 20px 20px;
}
#top{
    text-align:center;
    color: #29393f;
}
#top a{
    color: #29393f;
    font-weight:bold;
}
.new {
    text-align:right;
    margin-right:5em;
    font-size:12pt;
}

.new a{
    color: #798478;
}
.back {
    margin-left:3em;
    display:block;
}
.back a{
    color: #29393f;
    font-size:12pt;
    font-weight:bold;
}
.del {
    color: #dd7373;
    display: inline;
}
.del a{
    color: #dd7373;
}

.rem {
    color: #dd7373;
}
.rem a{
    color: #dd7373;
}
.links {
background: transparent;
text-decoration: underline;
font-weight: bold;
color: #29393f;

}
.links a{
    text-decoration: underline;
    font-weight: bold;
    color: #29393f;
}
h1 {
color: #212e33;
font-size: 150%;
display: block;
border-bottom: 1px solid #212e33;
padding: 10px;
font-family: 'Play', sans-serif;
}
.title {
margin: 0 0 1em;
padding: 10px;
background-color: #587b7f;
color: white;
border-bottom: 4px solid #212e33;
font-size: 2em;
font-style: normal;
font-family: 'Play', sans-serif;
}
#notice {
color: #dd7373;
text-indent: 20px;
}
#warning {
background: rosybrown;
margin: 1em 0;
padding: 4px;
}
form label {
display: block;
font-weight: bold;
color: teal;
}
form {
margin: 1em 2em;
}
input{
display: block;
}
#users {
margin-left: auto;
margin-right: auto;
border-collapse: collapse;
width: 90%;
border-bottom: 2px solid black;
margin-bottom: 20px;
}
#users th{
border: 2px solid #c0e2d9;
font-weight: bold;
background-color: #587b7f;
}
#users th, #users td{
padding: 4px;
text-align: left;
}
#kids{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%;
}