html, body {
margin: 0;
padding: 0;
background: White;
color: darkslategrey;
font-family: Tahoma, Verdana, sans-serif;
font-size: 10pt;
}
#main {
margin: 0;
padding: 0 20px 20px;
}
a {
background: transparent;
color: maroon;
text-decoration: underline;
font-weight: bold;
}
h1 {
color: maroon;
font-size: 150%;
font-style: italic;
display: block;
width: 100%;
border-bottom: 1px solid darkslategrey;
padding: 10px;
}
.title {
margin: 0 0 1em;
padding: 10px;
background-color: lightblue;
color: white;
border-bottom: 4px solid gold;
font-size: 2em;
font-style: normal;
}
#notice {
color: brown;
text-indent: 20px;
}
#warning {
background: rosybrown;
margin: 1em 0;
padding: 4px;
}
form label {
display: block;
font-weight: bold;
color: teal;
}
form  {
margin: 1m 2em;
}
input{
display: block;
}
#users {
margin: 10px;
border-collapse: collapse;
width: 100%;
border-bottom: 2px solid black;
}
#users th{
border: 2px solid white;
font-weight: bold;
background-color: aliceblue;
}
#users th, #users td{
padding: 4px;
text-align: left;
}